<!DOCTYPE html>
<html lang="en" class="no-js">
	<head prefix='og: http://ogp.me/ns#'>

	<!-- Add Custom Meta Data -->

	<meta content="dallas cowboys,cowboys,jerry jones,nfl,nfl draft,dallas,dallas fort worth,dallas news,dallas fort worth news,dallas sports,dallas fort worth sports,dfw news,dallas newspaper,dallas morning news,dallas morning news newspaper" name="keywords"/>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta content="Take your seat in the Cowboys's war room and make the picks for the Dallas Cowboys in the first three rounds of the 2015 NFL Draft." name="description" />
	<title>You be the GM: 2015 Cowboys Drafter</title>
	<meta property="og:url" content="http://res.dallasnews.com/interactives/cowboys-drafter"/>
	<meta property="og:title" content="You be the GM: 2015 Cowboys Drafter"/>
	<meta property="og:description" content="Take your seat in the Cowboys's war room and make the picks for the Dallas Cowboys in the first three rounds of the 2015 NFL Draft."/>
	<meta property="og:image" content="http://res.dallasnews.com/interactives/cowboys-drafter/images/cowShare.jpg"/>
	<meta name="twitter:card" content="summary_large_image"/>
	<meta property="og:image:height" content="400"/>
	<meta property="og:image:width" content="600"/>
	<meta name='parsely-page' id='parsely-page' content='{"title": "You be the GM: 2015 Cowboys Drafter", "link": "http://res.dallasnews.com/interactives/cowboys-drafter", "image_url": "http://res.dallasnews.com/interactives/cowboys-drafter/images/cowShare.jpg", "type": "post", "post_id": "82303549815", "pub_date": "2015-04-22T12:00:00Z", "author": ["bob sturm"], "section": "Cowboys Sports ", "tags": ["dallas cowboys","cowboys","jerry jones","nfl","nfl draft","dallas","dallas fort worth","dallas news","dallas fort worth news","dallas sports","dallas fort worth sports","dfw news","dallas newspaper","dallas morning news","dallas morning news newspaper"]}'/>
	<meta property="og:keywords" content="dallas cowboys,cowboys,jerry jones,nfl,nfl draft,dallas,dallas fort worth,dallas news,dallas fort worth news,dallas sports,dallas fort worth sports,dfw news,dallas newspaper,dallas morning news,dallas morning news newspaper"/>
	<meta name='news_keywords' content='dallas cowboys,cowboys,jerry jones,nfl,nfl draft,dallas,dallas fort worth,dallas news,dallas fort worth news,dallas sports,dallas fort worth sports,dfw news,dallas newspaper,dallas morning news,dallas morning news newspaper'/>

	<!-- End Custom Meta Data -->

	<meta property="fb:app_id" content="258290334265148"/>
	<meta property="fb:page_id" content="20946638799"/>
	<meta property="fb:admins" content="1043783589"/>
	<link rel="shortcut icon" type="image/x-icon" href="http://www.dallasnews.com/favicon-premium.ico"/>
	<link rel="stylesheet" type="text/css" href="css/theme.css" />
	<link rel="stylesheet" type="text/css" href="/interactives/template/css/code.css" />
	<link rel="stylesheet" type="text/css" href="/resrsc/premium/www/css/print.css" media="print"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700%7CMerriweather:400,400italic%7CRoboto+Slab:400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/responsive-styles.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
	<script type="text/javascript">
	    WebFont.load({
	      google: { //change custom to google: if using google cdn font
	        families: ['Open+Sans', 'Merriweather', 'Arvo', 'Roboto+Slab'],
	      }
	    });

	</script>
	<script src="/interactives/template/common/js/jquery-1.10.2.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<!--[if lt IE 9]><script type="text/javascript" src="/interactives/template/common/respond.min.js"></script><![endif]-->
	<script type="text/javascript" src="http://www.googletagservices.com/tag/js/gpt.js"></script>
	<script type="text/javascript">
	DFP_networkId = "11222444";
	var DFPSlotSizes = [];
	if (jQuery(window).width() < 768)
	{
	var DFP_sitepage = "m.DMN/interactives";
	DFPSlotSizes = [320,50]
	var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
	adSlot0.setTargeting("position", "x01");
	adSlot0.addService(googletag.pubads());
	}
	else
	{
	var DFP_sitepage = "DMN/interactives";
	DFPSlotSizes = [728,90]
	var adSlot0 = googletag.defineSlot('/' + DFP_networkId + '/' + DFP_sitepage, DFPSlotSizes, "dfpAdPositionTop");
	adSlot0.setTargeting("position", "Top");
	adSlot0.addService(googletag.pubads());
	}
	</script>
	<script type="text/javascript">
	googletag.pubads().enableSingleRequest();
	googletag.pubads().enableSyncRendering();
	googletag.enableServices();
	</script>
	</head>
	<body>
	<script>
		window.fbAsyncInit = function () {
			FB.init({
				appId: '258290334265148',
				xfbml: true,
				version: 'v2.3'
			});
		};

		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<script type="text/javascript" src="http://res.dallasnews.com/resources/cobrand/js/blogs/parselyDynamicTracking.js"></script>
	<script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/responsive-header.js"></script>
	<article>
		<section id="contentHeader"> <img srcset="images/cowhero_2400.jpg 2400w, images/cowhero_1800.jpg 1800w, images/cowhero_1200.jpg 1200w, images/cowhero_600.jpg 600w" src="images/cowhero_1200.jpg" alt="Cowboys owner Jerry Jones" />
			<header id="storyHead">
				<h3>2015 NFL Draft</h3>
				<h1>Welcome to the War Room</h1>
				<h2>You're on the clock for the first three rounds of the NFL draft. Whom would you select if you were making the picks for the Dallas Cowboys?</h2>
			</header>
		</section>

		<!-- end contentHeader -->

		<div id="wrapper">
			<section class="bodyCopy">

				<section class="bylineBlock">
					<p>Published April 22, 2015</p>
				</section>
				<!-- end bylineBlock -->

				<p class="intro"><span class="dropcap">G</span>o for the big splash and draft a superstar running back in the first round, or bolster the defensive side of the ball? We&rsquo;ve narrowed down the draft pool to the best players that could be available at each position when the Cowboys are on the clock. Now all you have to do is pull the trigger and assemble the foundation for the Cowboys&rsquo; 2015 draft class.</p>



				<div id="round1" class="round clearFix">
					<h3 class="positionHeader">Select which position you&rsquo;d like the Cowboys to draft in the first round:</h3>
					<ul class="positions clearFix">
						<li data-position="qb" data-round="1" class="activePosition">QB</li>
						<li data-position="rb" data-round="1">RB</li>
						<li data-position="wr" data-round="1">WR</li>
						<li data-position="te" data-round="1">TE</li>
						<li data-position="ol" data-round="1">OL</li>
						<li data-position="dl" data-round="1">DL</li>
						<li data-position="lb" data-round="1">LB</li>
						<li data-position="db" data-round="1">DB</li>
					</ul>
					<div class="players noShow clearFix">
						<h4 class="playerHeader">Here are the top-rated <span class="position">quarterbacks</span> projected to be available for the Cowboys pick at 27 in the first round:</h4>
						<p class="instructions">Select a player, then click their "Draft" button. Need a hint? Keep an eye out for who Staff Writer Jon Machota would pick at each position:</p>
						<ul class="playerList clearFix">
						</ul>
						<div class="playerModule"></div>
					</div>
					<!-- end players -->
				</div>
				<!-- end round1 -->

				<div id="round2" class="noShow round clearFix">
					<h3 class="positionHeader">Select which position you'd like to the Cowboys to draft in the second round:</h3>
					<ul class="positions clearFix">
						<li data-position="qb" data-round="2">QB</li>
						<li data-position="rb" data-round="2">RB</li>
						<li data-position="wr" data-round="2">WR</li>
						<li data-position="te" data-round="2">TE</li>
						<li data-position="ol" data-round="2">OL</li>
						<li data-position="dl" data-round="2">DL</li>
						<li data-position="lb" data-round="2">LB</li>
						<li data-position="db" data-round="2">DB</li>
					</ul>
					<div class="players noShow clearFix">
						<h4 class="playerHeader">Here are the top-rated <span class="position">position</span> projected to be available when the Cowboys pick at 28 (60 overall) in the second round:</h4>
						<p class="instructions">Select a player, then click their "Draft" button. Need a hint? Keep an eye out for who Staff Writer Jon Machota would pick at each position:</p>
						<ul class="playerList clearFix">
						</ul>
						<div class="playerModule"></div>
					</div>
					<!-- end players -->
				</div>
				<!-- end round2 -->

				<div id="round3" class="noShow round clearFix">
					<h3 class="positionHeader">Select which position you'd like to the Cowboys to draft in the third round:</h3>
					<ul class="positions clearFix">
						<li data-position="qb" data-round="3">QB</li>
						<li data-position="rb" data-round="3">RB</li>
						<li data-position="wr" data-round="3">WR</li>
						<li data-position="te" data-round="3">TE</li>
						<li data-position="ol" data-round="3">OL</li>
						<li data-position="dl" data-round="3">DL</li>
						<li data-position="lb" data-round="3">LB</li>
						<li data-position="db" data-round="3">DB</li>
					</ul>
					<div class="players noShow clearFix	">
						<h4 class="playerHeader">Here are the top-rated <span class="position">position</span> projected to be available when the Cowboys pick at 27 (91 overall) in the third round:</h4>
						<p class="instructions">Select a player, then click their "Draft" button. Need a hint? Keep an eye out for who Staff Writer Jon Machota would pick at each position:</p>
						<ul class="playerList clearFix">
						</ul>
						<div class="playerModule"></div>
					</div>
					<!-- end players -->
				</div>
				<!-- end round3 -->

				<div id="yourPicks" class="noShow round clearFix">
					<h3>Your picks</h3>
					<div id="playersPicked" class="clearFix"></div>
					<a href="#0" id="finalizeDraft">Submit Draft!</a> </div>

				<div class="shareBar" id="quizShare">
					<h4>Share your draft with your friends:</h4>
					<ul>
						<li id="facebookButton"><span class="helper"></span><img src="images/facebook.png" />Facebook</li>
						<li id="twitterButton"><span class="helper"></span><img src="images/twitter.png" />Twitter</li>
					</ul>
				</div>

				</section>

					<div id="dfpAdPositionTop">
						<p class="adLabel">Advertisement</p>
						<script type="text/javascript">googletag.display('dfpAdPositionTop');</script>
					</div> 

				<section class="bodyCopy">

				<section class="credits clearFix">
					<p>Contributors: <a href="mailto:tmagelssen@dallasnews.com">Tommy Magelssen</a>, <a href="mailto:mflorek@dallasnews.com">Michael Florek</a>, <a href="mailto:jfriemel@dallasnews.com">Joshua Friemel</a>, <a href="mailto:jmachota@dallasnews.com">Jon Machota</a>, and <a href="mailto:Sturm1310@aol.com">Bob Sturm</a></p>
					<p>Above photo: <a href="mailto:tfox@dallasnews.com">Tom Fox</a></p>
					<p>Designers: <a href="mailto:jlsmith@dallasnews.com">Layne Smith</a> and <a href="mailto:jhancock@dallasnews.com">John Hancock</a></p>
				</section>

				<!-- end credits -->

				<section class="more clearFix">
					<h1>More from The Dallas Morning News</h1>
					<a href="http://res.dallasnews.com/interactives/draft-prospects/"> <img src="images/gurley600.jpg" alt="Georgia running back Todd Gurley.">
						<h5>2015 NFL Draft Prospects</h5>
						<p>See how the top draft prospects compare based on their combine and 2014-15 season performance.</p>
					</a> 
					<a href="http://res.dallasnews.com/interactives/jim-dent"> 
						<img src="images/dentShare.jpg" alt="Jim Dent">
						<h5>Jim Dent: The man, his books and the bottle</h5>
						<p>The best-selling sports author&rsquo;s passion for alcohol has landed him behind bars repeatedly since 1983.</p>
					</a> 
					<a href="http://res.dallasnews.com/interactives/jason-garrett/" class="last"> <img src="images/garrett_main600.jpg" alt="Jason Garrett">
						<h5>The once and future Cowboys</h5>
						<p>Jason Garrett talks about his $30 million contract, his musical tastes and what he learned from Jimmy and Barry.</p>
					</a> 
					
				</section>
				<!-- end more -->

				<div class="shareComments">
					<div id="comments"></div>
				</div>
			</section>
			<!-- end bodyCopy -->

		</div>
		<!-- end wrapper -->

	</article>
	<!-- end relatedFooter -->

	<script type="text/javascript" src="http://res.dallasnews.com/interactives/template/common/js/responsive-footer.js"></script>
	<script type="text/javascript" src="js/players.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>

	<!-- Gigya -->
	<!-- Can this be included when initialized? -->
	<script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=3_9lzrxJh-GQofXtoOq-ADFDpwOla0DXKJOvVl_KnlZPjeuRyBKYHjyaA2UYgGvXGv&amp;ver=3.0.4">
		{
			lang : 'en',
			enabledProviders: 'facebook,twitter,google,linkedin,yahoo,messenger',
			connectWithoutLoginBehavior: 'alwaysLogin'
		}
	</script>
	<!-- Gigya Templates -->
	<script id="gigya-new-user-tmpl" type="text/x-jquery-tmpl">
		<div id='gigya-new-user-wrap' class='float-left'>
			<h3 class='label'>Please provide your email address to join</h3>
			<p>
				<label>Email<br>
					<input type='text' name='email' size='20' value='' class='input'>
				</label>
			</p>
			<div class='button-wrap'>
				<input id='gigya-new-user-button' style='width:auto;' type='button' value='Register' class='button-primary'>
			</div>
		</div>
	</script>
	<script id="gigya-account-linking-tmpl" type="text/x-jquery-tmpl">
		<div id='gigya-sep-wrap'>
			<div class="sep-line"></div>
			<h3>OR</h3>
			<div class="sep-line"></div>
		</div>
		<div id='gigya-account-linking-wrap'>
			<h3 class='label'>Yes, Please link my existing account with ${user.loginProvider} for quick and secure access</h3>
			<p>
				<label>Email<br>
					<input type='text' size='20' value='' class='input' name='email'>
				</label>
			</p>
			<p>
				<label>Password<br>
					<input type='password' size='20' value='' class='input' name='password'>
				</label>
			</p>
			<div class='button-wrap'>
				<input id='gigya-new-account-button' style='width:auto;' type='button' value='Link Accounts' class='button-primary'>
			</div>
		</div>
	</script>
	<script id="gigya-header-tmpl" type="text/x-jquery-tmpl">
		<div id='dialog-header'>
			<div class="ui-helper-clearfix">
			<img class='thumbnail' src='${user.thumbnailURL}'/>
			<p class='text'>
				<b>Hi ${user.firstName}</b>
				{{if isEmailExist}}, The email is already used, please provide a new email or link to an existing account.{{/if}}
				{{if isNewUser}}{{/if}}
			</p>
			</div>
		</div>
	</script>
	<!-- End Gigya Templates -->
	<!-- End Gigya -->

	<script type="text/javascript">
	var storyTitle = "You be the GM: 2015 Cowboys Drafter",
		    storyURL = "http://res.dallasnews.com/interactives/cowboys-drafter",
		    leadText = "Take your seat in the Cowboys's war room and make the picks for the Dallas Cowboys in the first three rounds of the 2015 NFL Draft.",
		    storyIMG = "http://res.dallasnews.com/interactives/cowboys-drafter/images/cowShare.jpg",
		    storyAuthor = "bob sturm",
		    comments = true,
		    share = true;
	</script>
	<script type="text/javascript">OAS_sitepage = 'www.dallasnews.com/sports/cowboys/cowboys-drafter';</script>
	<script type="text/javascript" src="/interactives/template/common/js/common-v1.js"></script>
	<script type="text/javascript" src="/resrsc/js/biomniture.js"></script>
	<script type="text/javascript" src="js/actions-v0.js"></script>
	<script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

	<!-- START Parse.ly Include: Standard -->
	<div id="parsely-root" style="display: none">
		<div id="parsely-cfg" data-parsely-site="dallasnews.com"></div>
	</div>
	<script>
		(function(s, p, d) {
		var h=d.location.protocol, i=p+"-"+s,
		e=d.getElementById(i), r=d.getElementById(p+"-root"),
		u=h==="https:"?"d1z2jf7jlzjs58.cloudfront.net"
		:"static."+p+".com";
		if (e) return;
		e = d.createElement(s); e.id = i; e.async = true;
		e.src = h+"//"+u+"/p.js"; r.appendChild(e);
		})("script", "parsely", document);
	</script>
	<!-- END Parse.ly Include: Standard -->

	</body>
</html>
